* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.placeholder{
    height: 50vh;
}

.main {
    margin-top: 60px;
}

.topbar-desktop {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.91,.01,.2,1);
    background: linear-gradient(90deg, rgba(75,6,193,1) 0%, rgba(206,2,189,1) 100%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);
}
  
.topbar-sticky {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}
  
.topbar-desktop-text {
    display: inline-flex;
    flex-flow: row nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 500px;
    margin: auto;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 18px;
}

.topbar-hamburger {
    position: fixed;
    top: 1.35%;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.39);
    background-color: rgba(255, 255, 255, 0.18);
    color: white;
    font-size: 17px;
    /* box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.46); */
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.91,.01,.2,1);
}

.topbar-hamburger:hover {
    background: linear-gradient(to right, #860091, #662975);
    border: 1px solid rgba(255,255,255,0.1);
    transform: scale(1.1);
}

.row-inner {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.row {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.row2 {
    /* background-color: var(--color4); */
    color: white;
}

.header {
    background-color: rgba(75,6,193,1);
    padding: 0;
    position: relative;
    overflow: hidden;
}

.header-container {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.header-container-bg {
    background: radial-gradient(circle, rgba(206,2,189,1) 0%, rgba(75,6,193,1) 70%);
    position: absolute;
    width: 150%;
    height: 100%;
    right: -669px;
    top: 0;
}

.header-container-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.header-container-description {
    width: 60%;
    height: 100%;
    padding-left: 80px;
}

.header-container-title {
    width: 100%;
    padding: 60px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 120px;
}

.header-container-title-2 {
    font-size: 100px;
    margin-top: -23px;
    font-weight: 500;
}

.header-container-title-3 {
    font-size: 60px;
    font-weight: 400;
    margin-top: -26px;
}

.header-container-paragraph {
    font-size: 22px;
    font-weight: 400;
    padding: 50px;
    padding-top: 0px;
    padding-right: 182px;
    padding-left: 0px;
}

.header-container-cta {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(to bottom, #23ffdb, #1b5dbf);;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.header-container-cta:hover {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    transition: 0.2s;
}

.header-container-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.header-container-image img {
    width: 700px;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 2;
    filter: hue-rotate(0deg);
}

/* .header-container-image .header-front {
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
} */

/* .header-container-image .header-brain {
    animation-name: brainbob;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
} */

.service-outer-1 {
    background: linear-gradient(to right, #9803be, #660798);
    color: white;
    transition: 0.5s;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
    /* filter: hue-rotate(0deg); */
}

.row-service {
    display: flex;
    padding-bottom: 50px;
}

.row-service .column {
    width: 50%;
    height: 100%;
    padding: 20px;
}

.column {
    flex-flow: column;
}

.service-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image img {
    width: 100%;
    filter: hue-rotate(0deg);
    transition: 0.5s;
}

.row-service h1 {
    font-size: 50px;
    font-weight: 500;
}

.taglist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.tag {
    padding: 10px;
    /* border: 1px solid rgba(255,255,255,0.2); */
    margin: 3px;
}

.tag::before {
    content: "• ";
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(75,6,193,1);
    height: 10px;
    transition: 1s;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    height: 1px;
    width: 10px;
}

@media screen and (max-width: 1050px){
    .header-container {
        height: auto;
        display: flex;
        flex-flow: column;
    }

    .header-container-bg {
        background: radial-gradient(circle, rgba(206,2,189,1) 0%, rgba(75,6,193,1) 70%);
        position: absolute;
        width: 200%;
        height: 150%;
        right: -50%;
        top: -43%;
    }

    .header-container-text {
        position: relative;
        left: auto;
        top: auto;
        display: flex;
        flex-flow: column;
        height: auto;
        order: 2;
    }

    .header-container-description {
        width: 100%;
        padding: 20px;
        height: auto;
        order: 1;
        margin-bottom: 50px;
    }

    .header-container-title {
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .header-container-title-2 {
        text-align: center;
    }

    .header-container-title-3 {
        text-align: center;
    }

    .header-container-paragraph {
        padding: 0px;
        text-align: center;
        padding: 50px;
    }

    .header-container-cta {
        margin: auto;
    }

    .header-container-image {
        height: 500px;
        width: 500px;
        margin: auto;
        order: 1;
    }

    .header-container-image img {
        width: 100%;
        height: 100%;
        right: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .service-section-1, .service-section-2, .service-section-3 {
        flex-flow: column;
    }

    .row-service .column {
        width: 100%;
    }

    .row-service img {
        max-width: 750px;
    }

    .row-service h1 {
        text-align: center;
    }

    .row-service p {
        max-width: 750px;
        margin: auto;
        line-height: 24px;
        font-size: 18px;
    }

    .row-service .taglist {
        max-width: 750px;
        margin: auto;
        margin-top: 20px;
    }
}

/* @keyframes brainbob{
    0% {
        transform: translateY(10px) rotate(-2deg);
    }
    100% {
        transform: translateY(-30px) rotate(0deg);
    }
} */

/* @keyframes flicker{
    0% {
        opacity: 0;
    }
    3% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    31% {
        opacity: 1;
    }
    32% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    61% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    71% {
        opacity: 1;
    }
    72% {
        opacity: 0;
    }
} */

.topbar-desktop-text {
    display: inline-flex;
    flex-flow: row nowrap;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .topbar-desktop-text .space {
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .rainbow-animation {
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    color: #1eff00;
    text-shadow: 0px 0px 15px rgba(255,255,255,0.8);
    font-weight: 500;
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
    -webkit-font-smoothing: subpixel-antialiased;
  }
  
  /* .rainbow-char1 { animation-name: rainbow1; }
  @keyframes rainbow1 { from {filter: hue-rotate(0deg); } to {filter: hue-rotate(360deg); }  }
  
  .rainbow-char2 { animation-name: rainbow2; }
  @keyframes rainbow2 { from {filter: hue-rotate(25deg); } to {filter: hue-rotate(385deg); }  }
  
  .rainbow-char3 { animation-name: rainbow3; }
  @keyframes rainbow3 { from {filter: hue-rotate(50deg); } to {filter: hue-rotate(410deg); }  }
  
  .rainbow-char4 { animation-name: rainbow4; }
  @keyframes rainbow4 { from {filter: hue-rotate(75deg); } to {filter: hue-rotate(435deg); }  }
  
  .rainbow-char5 { animation-name: rainbow5; }
  @keyframes rainbow5 { from {filter: hue-rotate(100deg); } to {filter: hue-rotate(460deg); }  }
  
  .rainbow-char6 { animation-name: rainbow6; }
  @keyframes rainbow6 { from {filter: hue-rotate(125deg); } to {filter: hue-rotate(485deg); }  }
  
  .rainbow-char7 { animation-name: rainbow7; }
  @keyframes rainbow7 { from {filter: hue-rotate(150deg); } to {filter: hue-rotate(510deg); }  }
  
  .rainbow-char8 { animation-name: rainbow8; }
  @keyframes rainbow8 { from {filter: hue-rotate(175deg); } to {filter: hue-rotate(535deg); }  }
  
  .rainbow-char9 { animation-name: rainbow9; }
  @keyframes rainbow9 { from {filter: hue-rotate(200deg); } to {filter: hue-rotate(560deg); }  }
  
  .rainbow-char10 { animation-name: rainbow10; }
  @keyframes rainbow10 { from {filter: hue-rotate(225deg); } to {filter: hue-rotate(585deg); }  }
  
  .rainbow-char11 { animation-name: rainbow11; }
  @keyframes rainbow11 { from {filter: hue-rotate(250deg); } to {filter: hue-rotate(610deg); }  }
  
  .rainbow-char12 { animation-name: rainbow12; }
  @keyframes rainbow12 { from {filter: hue-rotate(275deg); } to {filter: hue-rotate(635deg); }  }
  
  .rainbow-char13 { animation-name: rainbow13; }
  @keyframes rainbow13 { from {filter: hue-rotate(300deg); } to {filter: hue-rotate(660deg); }  }
  
  .rainbow-char14 { animation-name: rainbow14; }
  @keyframes rainbow14 { from {filter: hue-rotate(325deg); } to {filter: hue-rotate(685deg); }  }
  
  .rainbow-char15 { animation-name: rainbow15; }
  @keyframes rainbow15 { from {filter: hue-rotate(350deg); } to {filter: hue-rotate(710deg); }  }
  
  .rainbow-char16 { animation-name: rainbow16; }
  @keyframes rainbow15 { from {filter: hue-rotate(375deg); } to {filter: hue-rotate(735deg); }  }
  
  .rainbow-char17 { animation-name: rainbow17; }
  @keyframes rainbow15 { from {filter: hue-rotate(400deg); } to {filter: hue-rotate(760deg); }  }
   */